/*Kryshtene's style starts here*/
.navbar
{
    background-color: black;
}

.navbar a { color: antiquewhite !important; }
.navbar a:hover { color: antiquewhite !important; }

body 
{

}

.container
{
    padding-top: 40px;
    text-align: center;
    align-content: center;
    border-width: 60px;
    border-color: black;
}

.footer
{

    text-align: center;
    color: red;
    border-radius: 10px;
}

.form-check { display: inline-block; }

.form-check-label { min-width: 60px; text-align: left; }